<!DOCTYPE html>
<html lang="en">
<head>
  <title class="custom-heading">반도체 불량 검출</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" sizes="16x16">
  <style>
    .custom-container {
      margin-top: 350px; <!--원하는 여백 크기(px 등)를 지정하세요--> 
      text-align: center;
    }
    .custom-spacing {
      margin-top: 150px; <!--원하는 여백 크기(px 등)를 지정하세요--> 
    }
    body {
      background-image: url('static/img/1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }  
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://127.0.0.1:5000/">HMKD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/detect"title="검사 방법:1. 검사 파일 선택 2. 검사하기 클릭"> Detect</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="custom-container">
    <h1 class="text-white text-right mb-7" style="margin-right: 50px;"> <b>반도체 불량 AI 자동 검출</b></h1>
    <h2 class="text-white text-right mb-4" style="margin-right: 50px;">Data Universe</h2> 
  </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>